<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Producer:</strong>
  <%= @movie.producer %>
</p>

<h2>Reviews:</h2>
<ul>
<% @movie.reviews.each do |review| %>
 <li>
   <%= review.content %>
   <%= link_to "Remove", review_path(review),
   method: :delete,
   data:{confirm: "Are you sure?"} %>
 </li>
<% end %>
</ul>

<%= link_to "Review", new_movie_review_path(@movie) %> |
<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
